{% extends 'template.html.twig' %}

{% set campaignUrl = null %}
{% set campaignUrl = app.request.attributes.get('_route_params')['campaignUrl'] %}
{% if team.imageName is null %}
{% set profileImageUrl = main_app_url ~ '/static/img/team-' ~ team.teamType.value ~ '-image-2.png' %}
{% else %}
{% set profileImageUrl = main_app_url ~ '/uploads/team_profile_photos/' ~team.imageName %}
{% endif %}

{% block title %}Edit Team{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ team.name }}</h2>
      <br/>
    </div>
    <!-- ./col -->
  </div>
  <!-- ./row -->
  <form name="team" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="row">
      <div class="col-sm-4">
        <div class="card card-inverse">
          <img id="profile-image" src="{{ profileImageUrl }}" class="img-fluid rounded" alt="Responsive image">
        </div>
      </div>
      <!-- ./col -->
      <div class="col-sm-8">
        <div class="form-group">
          <div class="col-sm-6">
            <label class="required" for="team_name">Team Name</label>
            <input type="text" placeholder="The Smith Family" value="{% if team is not null and team.name is not null %}{{ team.name }}{% endif %}" id="team_name" required="required" name="team[name]" class="form-control">
          </div>
        </div>

        <!-- ./form-group -->
        <div class="form-group">
          <div class="col-sm-12">
            <label class="required" for="team_description">Call for Action</label>
            <textarea
              placeholder="Help {{ team.name }} get to the top of the charts!..."
              value="{% if team is not null and team.description is not null %}{{ team.description }}{% endif %}"
              id="team_description"
              name="team[description]"
              rows="5"
              class="form-control">{{team.description}}</textarea>
          </div>
        </div>
        <!-- ./form-group -->
        <div class="form-group">
          <div class="col-sm-4">
            <label class="required" for="team_name">Campaign Goal</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">$</span>
              <input type="number" min=0 id="team_fundingGoal" value="{% if team is null or team.fundingGoal is empty %}500{% else %}{{ team.fundingGoal }}{% endif %}" name="team[fundingGoal]" class="form-control text-right">
            </div>
          </div>
        </div>
        <!-- ./form-group -->
      </div>
      <!-- ./col -->
    </div>
    <!-- ./row -->
    <hr>
    {% if team.teamType.value == 'family' %}
      <div class="row">
        <div class="col-sm-12">
          <h4>Children</h4>
          {% for teamStudent in team.teamStudents %}
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="team_students_{{loop.index}}_classroomID">Child
                {{ loop.index }}</label>
              <div class="col">
                <select id="team_students_{{loop.index}}_classroomID" name="team[students][{{loop.index}}][classroomID]" class="form-control">
                  <option selected="selected">Select Classroom</option>
                  {% for classroom in classrooms %}
                    <option value="{{classroom.id}}" {% if teamStudent.classroom.id == classroom.id %} selected{% endif %}>{{classroom.grade.name}}
                      -
                      {{classroom.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col">
                <input type="text" id="team_students_{{loop.index}}_name" value="{% if teamStudent.name is defined %}{{ teamStudent.name }}{% endif %}" placeholder="David S." name="team[students][{{loop.index}}][name]" class="form-control">
              </div>
              <div class="col">
                <a href="{{ path('team_edit', {'campaignUrl': campaignUrl, 'teamUrl': team.url, 'action':'delete_team_student', 'teamStudentID' : teamStudent.id}) }}" class="btn btn-danger delete_record" id="{{teamStudent.id}}">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <!-- ./form-group -->
            <input type="hidden" id="team_students_{{loop.index}}_id" name="team[students][{{loop.index}}][id]" value="{{teamStudent.id}}">
          {% endfor %}
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="team_newStudent_classroomID">New Student</label>
            <div class="col">
              <select id="team_newStudent_classroomID" name="team[newStudent][classroomID]" class="form-control">
                <option selected="selected">Select Classroom</option>
                {% for classroom in classrooms %}
                  <option value="{{classroom.id}}">{{classroom.grade.name}} - {{classroom.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <input type="text" id="team_newStudent_name" placeholder="David S." name="team[newStudent][name]" class="form-control">
            </div>
            <div class="col"></div>
          </div>
          <!-- ./form-group -->
        {% elseif team.teamType.value == 'teacher' %}
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="col-sm-6">
                  <label class="required" for="team_classroom_classroomID">Classroom</label>
                  <select id="team_classroom_classroomID" name="team[classroom][classroomID]" class="form-control">
                    <option value="" selected="selected">Select Classroom</option>
                    {% for classroom in classrooms %}
                      <option value="{{classroom.id}}" {% if team.classroom.id == classroom.id %} selected{% endif %}>{{classroom.grade.name}} - {{classroom.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- ./form-group -->
            {% elseif team.teamType.value == 'student' %}
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="team_student_classroomID">Student Info</label>
                    <div class="col-sm-6">
                      <select id="team_student_classroomID" name="team[student][classroomID]" class="form-control">
                        <option selected="selected">Select Classroom</option>
                        {% for classroom in classrooms %}
                          <option value="{{classroom.id}}" {% if team.teamStudents.0 is defined and team.teamStudents.0.classroom.id == classroom.id %} selected{% endif %}>{{classroom.grade.name}} - {{classroom.name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" id="team_students_name" value="{% if team.teamStudents.0 is defined %}{{ team.teamStudents.0.name }}{% endif %}" placeholder="David S." name="team[student][name]" class="form-control">
                    </div>
                  </div>
                  <!-- ./form-group -->
                {% endif %}
                <hr>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button type="submit" id="submit" class="btn btn-primary pull-right">Update Team</button>
                  </div>
                </div>
                <!-- ./form-group -->
                <input type="hidden" id="team_campaignID" name="team[campaignID]">
              </div>
              <!-- ./col -->
            </div>
            <!-- ./row -->
          </form>
        {% endblock body %}

        {% block javascripts %}

          <script type="text/javascript">

            $(document).ready(function() {
              $('.delete_record').click(function() {
                event.preventDefault();
                var r = confirm("Are you sure you want to delete?");
                if (r == true) {
                  window.location = $(this).attr('href');
                }
              });


              $('#cancel-image-button').click(function() {
                $('.card-img-overlay').remove();
                $('#profile-image').attr('src', '{{ profileImageUrl }}');
              });

              $("#team_image").change(function(){
                  readURL(this);
                  $('.card-img-overlay').remove();
                  $('<div class="card-img-overlay">' +
                       '<h4 class="card-title text-center">This is a Preview</h4>' +
                       '<p class="card-text text-center">Click "Update" to Save.</p>' +
                    '</div>').insertAfter( "#profile-image" );
              });

            });


            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#profile-image').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }


          </script>
        {% endblock %}
