{% extends 'crud.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>CauseVox Fundraisers</h1>
                <div style="text-align:right;">
                    <a href="{{ path(entity|lower ~ '_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add New</a>
                    <a href="{{ path(entity|lower ~ '_upload') }}" class="btn btn-default"><i class="glyphicon glyphicon-upload"></i> Upload CSV</a>
                </div>
                <br/>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Grade</th>
                            <th>Teacher</th>
                            <th>Student</th>
                            <th>email</th>
                            <th>URL</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for causevoxfundraiser in causevoxfundraisers %}
                            <tr>
                                <td>
                                    <a href="{{ path(entity|lower ~ '_show', { 'id': causevoxfundraiser.id }) }}">{{ causevoxfundraiser.id }}</a>
                                </td>
                                <td>{{ causevoxfundraiser.teacher.grade.name }}</td>
                                <td>{{ causevoxfundraiser.teacher.teachername }}</td>
                                <td>{% if causevoxfundraiser.student is not null %}{{ causevoxfundraiser.student.name }}{% endif %}</td>
                                <td>{{ causevoxfundraiser.email }}</td>
                                <td>{{ causevoxfundraiser.url }}</td>
                                <td style="text-align:center;">
                                    <a href="{{ path(entity|lower ~ '_show', { 'id': causevoxfundraiser.id }) }}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-eye-open"></i><span class="hidden-xs hidden-sm"> View</span></a>
                                    <a href="{{ path(entity|lower ~ '_edit', { 'id': causevoxfundraiser.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i><span class="hidden-xs hidden-sm"> Edit</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
