{% extends 'campaign.html.twig' %}
{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>View Fundraiser</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <dl class="dl-horizontal">
              <dt>ID</dt>
              <dd>{{ causevoxfundraiser.id }}</dd>
              <dt>Contact Email</dt>
              <dd>{{ causevoxfundraiser.email }}</dd>
              <dt>Name</dt>
              <dd>{{ causevoxfundraiser.firstName }} {{ causevoxfundraiser.lastName }}</dd>                                     
              <dt>Teacher</dt>
              <dd>{{ causevoxfundraiser.student.teacher.grade.name }} - {{ causevoxfundraiser.student.teacher.teachername }}</dd>
              <dt>Student</dt>
              <dd>{{ causevoxfundraiser.student.name }}</dd>
              <dt>URL</dt>
              <dd>{{ causevoxfundraiser.url }}</dd>
          </dl>

            {{ form_start(delete_form) }}
            <a href="{{ path(entity|lower ~ '_index') }}" class="btn btn-info">Back</a>
            <a href="{{ path(entity|lower ~ '_edit', { 'id': causevoxfundraiser.id }) }}" class="btn btn-primary">Edit</a>
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete {{causevoxfundraiser.id}}?')" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
