{% extends 'manage.html.twig' %}
{% use 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Edit
                {{entity}}
                Form</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <hr/>
            <div>
                <a href="{{ path(entity|lower ~ '_index') }}" class="btn btn-info">Cancel</a>
                <button type="reset" value="Reset" class="btn btn-primary">Reset</button>
                <input type="submit" value="Update" class="btn btn-warning"/>
            </div>

            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
