{% extends 'template.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-md-8 offset-md-2">
    <p style="text-align:left;">
      <strong>NOTE:</strong>
      Please contact
      <a href="mailto:funrun@lrespto.org">funrun@lrespto.org</a>
      if you have any issues logging into the system.</p>
    <hr/>
    <div class="">
      {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
      {% endif %}

      <form action="{{ path("login") }}" method="post" class="form-horizontal" role="form-horizontal">

        <div class="form-group">
          <label for="username" class="col-sm-3 control-label">Email Address</label>
          <div class="col-sm-9">
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">Password</label>
          <div class="col-sm-9">
            <input class="form-control" type="password" id="password" name="_password" required="required"/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                Remember Me
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="{{ path('homepage') }}" class="btn btn-info">Back</a>
            <button type="submit" id="submit" class="btn btn-primary">Login</button>
          </div><!-- ./col -->
          <div class="col">
            <small>Don't have a FR Manager account? click
              <a href="{{ path('user_registration') }}">HERE</a>
            </small>
          </div><!-- ./col -->
        </div><!-- ./row -->
      </form>
    </div>
  </div>
</div>
{% endblock body %}
