{% extends 'crud.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>CauseVox Donations</h1>
                <div style="text-align:right;">
                    <a href="{{ path(entity|lower ~ '_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add New</a>
                    <a href="{{ path(entity|lower ~ '_upload') }}" class="btn btn-default"><i class="glyphicon glyphicon-upload"></i> Upload CSV</a>
                </div>
                <br/>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Donated At</th>
                            <th>Teacher</th>
                            <th>Student</th>
                            <th>Donor Email</th>
                            <th>amount</th>
                            <th>type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for causevoxdonation in causevoxdonations %}
                            <tr>
                                <td>
                                    <a href="{{ path(entity|lower ~ '_show', { 'id': causevoxdonation.id }) }}">{{ causevoxdonation.id }}</a>
                                </td>
                                <td>{{ causevoxdonation.donatedAt|date("m/d/Y")  }}</td>
                                <td>{{ causevoxdonation.teacher.teachername }}</td>
                                <td>{{ causevoxdonation.student.name }}</td>
                                <td>{{ causevoxdonation.donorEmail }}</td>
                                <td style="text-align:right;">${{ causevoxdonation.amount|number_format(2, '.', ',')  }}</td>
                                <td>{{ causevoxdonation.type }}</td>
                                <td style="text-align:center;">
                                    <a href="{{ path(entity|lower ~ '_show', { 'id': causevoxdonation.id }) }}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-eye-open"></i><span class="hidden-xs hidden-sm"> View</span></a>
                                    <a href="{{ path(entity|lower ~ '_edit', { 'id': causevoxdonation.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i><span class="hidden-xs hidden-sm"> Edit</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
