{% extends 'crud.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Campaign Settings</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div style="text-align:right;">
                <a href="{{ path(entity|lower ~ '_new') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add New</a>
            </div>
            <br/>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Format</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for campaignsetting in campaignsettings %}
                        <tr>
                            <td>
                                <a href="{{ path(entity|lower ~ '_show', { 'id': campaignsetting.id }) }}">{{ campaignsetting.id }}</a>
                            </td>
                            <td>{{ campaignsetting.displayName }}</td>
                            <td>{{ campaignsetting.value }}</td>
                            <td>
                                {% if campaignsetting.format is defined %}{{ campaignsetting.format }}{% endif %}
                            </td>
                            <td style="text-align:center;">
                                <a href="{{ path(entity|lower ~ '_show', { 'id': campaignsetting.id }) }}" class="btn btn-sm btn-info">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    <span class="hidden-xs hidden-sm">
                                        View</span>
                                </a>
                                <a href="{{ path(entity|lower ~ '_edit', { 'id': campaignsetting.id }) }}" class="btn btn-sm btn-warning">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span class="hidden-xs hidden-sm">
                                        Edit</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
