{% extends 'crud.html.twig' %}
{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>View
                    {{ entity }}</h1>
            </br>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ campaignsetting.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ campaignsetting.name }}</td>
                    </tr>
                    <tr>
                        <th>Value</th>
                        <td>{{ campaignsetting.value }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ campaignsetting.description }}</td>
                    </tr>
                </tbody>
            </table>
            {{ form_start(delete_form) }}
            <a href="{{ path(entity|lower ~ '_index') }}" class="btn btn-info">Back</a>
            <a href="{{ path(entity|lower ~ '_edit', { 'id': campaignsetting.id }) }}" class="btn btn-primary">Edit</a>
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete {{campaignsetting.id}}?')" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
