<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/crud.css') }}">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">FUN RUN</a>

                {% if is_granted('ROLE_ADMIN') %}

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Data Administration</strong>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop3">
                            <li>
                                <a href="/admin/student">Manage Students</a>
                            </li>
                            <li>
                                <a href="/admin/grade">Manage Grades</a>
                            </li>
                            <li>
                                <a href="/admin/teacher">Manage Teachers</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i>&nbsp;Signed in as
                        <strong>{{ app.user.username }}</strong>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="drop3">
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
    <div style="height:64px;">&nbsp;</div>

    {% for type, messages in app.session.flashBag.all() %}
        {% for message in messages %}
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="alert alert-{{type}} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>{{ type }}!</strong>
                            {{message}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>

<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery.countdown/dist/jquery.countdown.min.js') }}"></script>

<!-- IE 10 Viewport Bug Fix -->
<script src="{{ asset('assets/js/ie10-viewport-bug-workaround.js') }}"></script>

<script type="text/javascript">
    $('[data-countdown]').each(function() {
        var $this = $(this),
            finalDate = $(this).data('countdown');
        $this.countdown(finalDate, function(event) {
            $this.html(event.strftime('<span class="label label-info">%D</span> day%!D &nbsp;&nbsp;<span class="label label-info">%H</span> hours &nbsp;&nbsp;<span class="label label-info">%M</span> min &nbsp;&nbsp;<span class="label label-info">%S</span> sec'));
        });
    });
</script>
</html>
