<!DOCTYPE html>
<html lang="en">
<head>
  <base target="_parent" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>
      {% block title %}{% endblock %}
  </title>

  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

  <!-- Icons -->
  <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('assets/css/simple-line-icons.css') }}" rel="stylesheet">

  <!-- Datatables styles -->
  <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css" rel="stylesheet">

  <!-- Main styles for this application -->
  <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">




  <!-- GOOGLE ANALYTICS -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84729114-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>

<!-- BODY options, add following classes to body to change options

// Header options
1. '.header-fixed'		- Fixed Header

// Sidebar options
1. '.sidebar-fixed'		- Fixed Sidebar
2. '.sidebar-hidden'		- Hidden Sidebar
3. '.sidebar-off-canvas'	- Off Canvas Sidebar
4. '.sidebar-minimized'		- Minimized Sidebar (Only icons)
5. '.sidebar-compact'		- Compact Sidebar

// Aside options
1. '.aside-menu-fixed'		- Fixed Aside Menu
2. '.aside-menu-hidden'		- Hidden Aside Menu
3. '.aside-menu-off-canvas'     - Off Canvas Aside Menu

// Footer options
1. 'footer-fixed'		- Fixed footer

-->

<body class="app header-fixed sidebar-fixed {% if campaign is not defined %}sidebar-hidden{% endif %} aside-menu-fixed aside-menu-hidden">
  <header class="app-header navbar">
      <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
      <a class="navbar-brand" href="{{ path('homepage') }}"></a>
      {% if is_granted('ROLE_USER') %}
      <ul class="nav navbar-nav d-md-down-none">
          {% if campaign is defined %}
          <li class="nav-item">
              <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
          </li>
          <li class="nav-item px-3">
              <span><strong>{{ campaign.name }}</strong></span>
            </li>
          {% endif %}
      </ul>
      <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  <img src="{{ asset('assets/img/profile.jpg') }}" class="img-avatar" alt="admin@bootstrapmaster.com">
                  <span class="d-md-down-none">{{ app.user.username }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                  <div class="divider"></div>
                  <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-lock"></i> Logout</a>
              </div>
          </li>
      </ul>
      {% endif %}
  </header>
  <div class="app-body">
    {% if is_granted('ROLE_USER') and campaign is defined %}
    <div class="sidebar">
      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('campaign_index', { 'campaignUrl': campaign.url }) }}"><i class="fa fa-tachometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url('homepage') }}{{campaign.url}}"><i class="fa fa-external-link"></i> View Campaign</a>
          </li>
          <li class="nav-title">
              Manage Campaign
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('campaign_edit', {'campaignUrl': campaign.url}) }}"><i class="fa fa-wrench"></i> Campaign Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('manageCampaignaward_index', { 'campaignUrl': campaign.url }) }}"><i class="fa fa-trophy"></i> Awards</a>
          </li>
          <li class="nav-title">
              Manage School
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('grade_index', { 'campaignUrl': campaign.url }) }}"><i class="fa fa-graduation-cap"></i> Grades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('teacher_index', { 'campaignUrl': campaign.url }) }}"><i class="fa fa-apple"></i> Teachers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('student_index', { 'campaignUrl': campaign.url }) }}"><i class="fa fa-user"></i> Students</a>
          </li>
          </li>
        </ul>
      </nav>
    </div>
   {% endif %}
    <!-- Main content -->
    <main class="main">
      <!-- Breadcrumb -->
      <!--
        <ol class="breadcrumb">
        </ol>
      -->
      <br/>
      <div class="container-fluid">
        <div class="animated fadeIn">
          {% block body %}{% endblock %}
        </div>
      </div>
    </main>

<!--
    <aside class="aside-menu">
      ...
    </aside>
-->
  </div>

  <footer class="app-footer">
       Created by <a href="mailto:davidlarrimore@gmail.com">David Larrimore</a>
       <span class="float-right">Admin interface Powered by <a href="http://coreui.io">CoreUI</a>
       </span>
   </footer>

  <!-- Bootstrap and necessary plugins -->
  <script src="{{ asset('assets/js/libs/jquery-3.2.1.min.js') }}"></script>
  <script src="{{ asset('assets/js/libs/tether.min.js') }}"></script>
  <script src="{{ asset('assets/js/libs/bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/js/libs/pace.min.js') }}"></script>

  <!-- Plugins and scripts required by all views -->
  <script src="{{ asset('assets/js/libs/Chart.min.js') }}"></script>

  <!-- Main scripts -->
  <script src="{{ asset('assets/js/app.js') }}"></script>

  <!-- Plugins and scripts required by this views -->
  <!--<script src="..."></script>-->

  <!-- Custom scripts required by this view -->
  <!--<script src="{{ asset('assets/js/views/main.js') }}"></script>-->

  <!-- LEGACY -->
  <script type='application/javascript' src="{{ asset('assets/vendor/moment/min/moment.min.js') }}"></script>
  <script type="application/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
  <script type="application/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
  <script type='application/javascript' src="{{ asset('assets/vendor/jquery.countdown/dist/jquery.countdown.min.js') }}"></script>

  {% block javascripts %}{% endblock %}

  <!-- IE 10 Viewport Bug Fix -->
  <script src="{{ asset('assets/js/ie10-viewport-bug-workaround.js') }}"></script>

  <script type='application/javascript'>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
        $(".clickable-row").css('cursor', 'pointer');

    });
  </script>


</body>
</html>
