{% extends 'template.html.twig' %}

{% block body %}

<div class="card">
<div class="card-block">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title mb-0">Students</h4>
                <div class="small text-muted">xxxxxxx</div>
            </div>
            <!--/.col-->
            <div class="col-sm-7">
                <button type="button" disabled class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
                </button>
                <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-3" aria-label="First group">
                        <a href="{{ path('student_new', {'campaignUrl':campaign.url}) }}" class="btn btn-outline-secondary">
                            <i class="fa fa-plus"></i>
                            Add New</a>
                        <a href="{{ path('student_upload', {'campaignUrl':campaign.url}) }}" class="btn btn-outline-secondary">
                            <i class="fa fa-upload"></i>
                            Upload CSV</a>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
        <!--/.row-->
        <br/>
          <table class="table table-responsive table-hover table-outline mb-0">
              <thead class="thead-default">
                  <tr>
                    <th>Teacher</th>
                    <th>Student's Name</th>
                    <th>Donations</th>
                    <th>Rank</th>
                    <th class="col-md-2 col-sm-1">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  {% for student in students %}
                  <tr>
                      <td><a href="{{ path('classroom_show', {'campaignUrl':campaign.url, 'classroomID': student.classroom_id }) }}">{{ student.grade_name }}
                          -
                          {{ student.teacher_name }}</a></td>
                      <td><a href="{{ path('student_show', { 'campaignUrl':campaign.url, 'id': student.id }) }}">{{ student.student_name }}</a></td>
                      <td style="text-align:right;">{% if not student.donation_amount == 0 %}${{ student.donation_amount|number_format(2, '.', ',')}}{% endif %}</td>
                      <td style="text-align:center;vertical-align: middle;"><span class="label label-{% if student.rank == 1 %}success{% elseif student.rank == 2 %}warning{% elseif student.rank == 3 %}primary{% else %}default{% endif %}">{{ student.rank }}</span></td>
                      <td style="text-align:center;vertical-align: middle;">
                          <a href="{{ path('student_show', {'campaignUrl':campaign.url, 'id': student.id }) }}" class="btn btn-sm btn-info">
                              <i class="glyphicon glyphicon-eye-open"></i>
                              <span class="hidden-xs hidden-sm">
                                  View</span>
                          </a>
                          <a href="{{ path('student_edit', { 'campaignUrl': campaign.url, 'studentID': student.id }) }}" class="btn btn-sm btn-warning">
                              <i class="glyphicon glyphicon-edit"></i>
                              <span class="hidden-xs hidden-sm">
                                  Edit</span>
                          </a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.table').DataTable({ "pageLength": 50, "order": [[ 3, "asc" ]]});
        });
    </script>
{% endblock %}
