{% extends 'crud.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>{{entity|capitalize}}s</h1>
                <div style="text-align:right;">
                    <a href="{{ path(entity|lower ~ '_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add New</a>
                </div>
                <br/>
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grade in grades %}
                            <tr>
                                <td>
                                    <a href="{{ path(entity|lower ~ '_show', { 'id': grade.id }) }}">{{ grade.id }}</a>
                                </td>
                                <td>{{ grade.name }}</td>
                                <td style="text-align:center;">
                                    <a href="{{ path(entity|lower ~ '_show', { 'id': grade.id }) }}" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-eye-open"></i><span class="hidden-xs hidden-sm"> View</span></a>
                                    <a href="{{ path(entity|lower ~ '_edit', { 'id': grade.id }) }}" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i><span class="hidden-xs hidden-sm"> Edit</span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
