{% extends 'template.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="card">
 <div class="card-header">Create new Campaign</div>
<div class="card-text">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <a href="{{ path('homepage') }}" class="btn btn-info">Cancel</a>
                <button type="reset" value="Reset" class="btn btn-primary">Reset</button>
                <input type="submit" value="Add New {{entity}}" class="btn btn-warning"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
  </div>
</div>
{% endblock %}
