{% extends 'template.html.twig' %}

{% block body %}
<div class="card">
<div class="card-block">
    <div class="row">
        <div class="col-md-12">
            <h1>Edit
                {{entity}}
                Form</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <hr/>
            <div>
                <a href="{{ path('homepage') }}" class="btn btn-info">Cancel</a>
                <button type="reset" value="Reset" class="btn btn-primary">Reset</button>
                <input type="submit" value="Update" class="btn btn-warning"/>
            </div>

            {{ form_end(edit_form) }}
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type='application/javascript' src="{{ asset('assets/js/libs/tinymce/tinymce.min.js') }}"></script>
<script>
// Prevent Bootstrap dialog from blocking focusin
$(document).on('focusin', function(e) {
  if ($(e.target).closest(".mce-window").length) {
    e.stopImmediatePropagation();
  }
});

tinymce.init({
  selector: '#campaign_description'
});
</script>
{% endblock %}
