{% extends 'template.html.twig' %}

{% block title %}{{campaign.name}} Dashboard{% endblock %}

{% block body %}
{% set notStarted = false %}

{% set difference = date(campaign.endDate|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
{% set daysLeft = difference.days %}

{% set difference = date(campaign.startDate|date('Y/m/d')).diff(date(campaign.endDate|date('Y/m/d'))) %}
{% set daysTotal = difference.days %}

{% if date('now'|date('Y/m/d')) > date(campaign.endDate|date('Y/m/d')) %}
{% set daysLeft = daysLeft * -1 %}
{% endif %}
{% if date('now'|date('Y/m/d')) < date(campaign.startDate|date('Y/m/d')) %}
  {% set notStarted = true %}
  {% set difference = date(campaign.startDate|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
  {% set startDays = difference.days %}
{% endif %}
{% if notStarted %}
   {% set percentLeft = 0 %}
{% elseif daysLeft > 0 %}
   {% set percentLeft = (((daysTotal - daysLeft) / daysTotal)*100) | number_format(2, '.', ',') %}
{% else %}
   {% set percentLeft = 100 %}
{%  endif %}


<div class="card border-primary mb-3 text-center">
   <div class="card-body">
       <div class="row">
         <div class="col-sm-12" style="text-align:center;">
           <h4><div id="track"  data-countdown="{{ campaign.endDate|date('Y/m/d') }}"></div><h4>
         </div>
       </div>
    </div><!-- ./card-block -->
</div><!-- /.card -->

<div class="row">
    <div class="col-sm-12">
        <div class="card bg-primary">
            <div class="card-body pb-0">
              <div class="btn-group float-right">
                  <button type="button" class="btn btn-transparent active dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="icon-settings"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">See all Donations</a>
                  </div>
              </div>
                <h4 class="mb-0"><u>${{ totals.donation_amount|number_format(0, '.', ',') }}</u> in donations</h4>
                <p>{{ (totals.donation_amount / campaign.fundingGoal * 100)|number_format(2, '.', ',')}}% of ${{ campaign.fundingGoal|number_format(0, '.', ',') }} goal received</p>
            </div>
        </div>
    </div><!--/.col-->
</div><!-- ./row -->



<div class="card mb-3">
  <div class="card-body">
         <a href="{{ path('campaign_index', {'campaignUrl':campaign.url, "action":"reload_donation_database"}) }}" class="btn btn-success"><i class="fas fa-download" aria-hidden="true"></i> Reload Donation Database</a>
         <a href="{{ path('campaign_index', {'campaignUrl':campaign.url, "action":"download_donation_ledger"}) }}" target="_blank" class="btn btn-success"><i class="fa fa-refresh" aria-hidden="true"></i> Download Donation Ledger</a>
</div><!-- ./card-block -->
</div><!--/.card -->







<div class="card mb-3">
  <div class="card-body">
  <div class="row">
     <div class="col-sm-5">
         <h4 class="card-title mb-0">New Class Awards</h4>
         <div class="small text-muted">{{ date()|date("D, M d") }}</div>
     </div>
     <!--/.col-->
     <div class="col-sm-7 hidden-sm-down">
     </div><!--/.col-->
 </div><!-- ./row -->
 <br/>
   {% if new_classroom_awards is defined and new_classroom_awards | length > 0 %}
       <table class="table table-hover table-outline mb-0 no-footer">
           <thead class="thead-default">
               <tr>
                   <th>Classroom</th>
                   <th>Total Donations</th>
                   <th>Award Level</th>
                  <th>Date Earned</th>
               </tr>
           </thead>
           <tbody>
             {% for classroom in new_classroom_awards %}
                 <tr>
                     <td>

                         <a href="{{ path('classroom_show', { 'campaignUrl':campaign.url, 'classroomID': classroom.id }) }}">
                             <span class="hidden-xs">{{ classroom.grade_name }}
                                 -</span>
                             {{ classroom.teacher_name }}</a>
                     </td>
                     <td>${{ classroom.cumulative_donation_amount|number_format(2, '.', ',') }}
                         <span class="hidden-xs">
                             <small>(<span style="color:#5cb85c;">+{{ classroom.donation_amount|number_format(2, '.', ',') }}</span>)</small>
                         </span>
                     </td>
                     <td>${{ classroom.campaignaward_amount }}
                         -
                         {{ classroom.campaignaward_name }}</td>
                     <td>{{ classroom.donated_at|date("D, M d") }}</td>
                 </tr>
             {% endfor %}
           </tbody>
       </table>
    {% else %}
        <div class="card block" style="font-size:120%;">
            <div style="text-align:center">
                <span class="lead">No classes have received new awards today......YET!</span>
            </div>
        </div>
    {% endif %}
</div><!-- ./card-block -->
</div><!--/.card -->


    <div class="card mb-3">
      <div class="card-body">
      <div class="row">
         <div class="col-sm-5">
             <h4 class="card-title mb-0">Top 10 Class Rankings</h4>
             <div class="small text-muted">{{ date()|date("D, M d") }}</div>
         </div>
         <!--/.col-->
         <div class="col-sm-7 hidden-sm-down">
            <div class="btn-group float-right" role="group" aria-label="Basic example">
            <a href="{{ path('classroom_index', {'campaignUrl':campaign.url, 'type':'campaign' }) }} " class="btn btn-primary">View All</a>
            </div>             
         </div>
         <!--/.col-->
     </div>
     <br/>
       {% if new_classroom_awards | length > 0 %}
           <table class="table table-hover table-outline mb-0 no-footer">
               <thead class="thead-default">
                   <tr>
                     <th>Rank</th>
                     <th>Classroom</th>
                     <th>Amount</th>
                   </tr>
               </thead>
               <tbody>
               {% for classroom_ranking in classroom_rankings %}
                   <tr>
                       <td style="text-align:center;vertical-align: middle;">
                           <span class="label label-{% if classroom_ranking.rank == 1 %}success{% elseif classroom_ranking.rank == 2 %}warning{% elseif classroom_ranking.rank == 3 %}primary{% else %}default{% endif %}">{{ classroom_ranking.rank }}</span>
                       </td>
                       <td>  {% if is_granted('ROLE_USER') %}
                           <a href="{{ path('classroom_show', {'campaignUrl':campaign.url, 'classroomID': classroom_ranking.id }) }}">{{ classroom_ranking.grade_name }}
                               -
                               {{ classroom_ranking.teacher_name }}</a>{% else %}{{ classroom_ranking.grade_name }}
                                   -
                                   {{ classroom_ranking.teacher_name }}{% endif %}
                       </td>
                       <td style="text-align:right;">${{ classroom_ranking.donation_amount|number_format(2, '.', ',') }}</td>

                   </tr>
               {% endfor %}
               </tbody>
           </table>
        {% else %}
            <div class="card block" style="font-size:120%;">
                <div style="text-align:center">
                    <span class="lead">No classes have received new awards today......YET!</span>
                </div>
            </div>
        {% endif %}
    </div>
    </div>

  <div class="card mb-3">
   <div class="card-body">
   <div class="row">
      <div class="col-sm-5">
          <h4 class="card-title mb-0">Top 10 Student Rankings</h4>
          <div class="small text-muted">{{ date()|date("D, M d") }}</div>
      </div>
      <!--/.col-->
      <div class="col-sm-7 hidden-sm-down">
        <div class="btn-group float-right" role="group" aria-label="Basic example">
         <a href="{{ path('student_index', {'campaignUrl':campaign.url, 'type':'campaign' }) }} " class="btn btn-primary">View All</a>
        </div>      
      </div>
      <!--/.col-->
  </div>
  <br/>
    {% if new_classroom_awards is defined and new_classroom_awards | length > 0 %}
        <table class="table table-hover table-outline mb-0 no-footer">
            <thead class="thead-default">
                <tr>
                  <th>Rank</th>
                  <th>Classroom</th>
                  <th>Student</th>
                  <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            {% for student_ranking in student_rankings %}
                <tr>
                    <td style="text-align:center;vertical-align: middle;">
                        <span class="label label-{% if student_ranking.rank == 1 %}success{% elseif student_ranking.rank == 2 %}warning{% elseif student_ranking.rank == 3 %}primary{% else %}default{% endif %}">{{ student_ranking.rank }}</span>
                    </td>
                    <td>
                        <a href="{{ path('classroom_show', {'campaignUrl':campaign.url, 'classroomID': student_ranking.classroom_id }) }}">{{ student_ranking.grade_name }} - {{ student_ranking.teacher_name }}</a>
                    </td>
                    <td>
                        <a href="{{ path('student_show', {'campaignUrl': campaign.url, 'id': student_ranking.id }) }}">{{ student_ranking.student_name }}</a>
                    </td>
                    <td style="text-align:right;">${{ student_ranking.donation_amount|number_format(2, '.', ',') }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
     {% else %}
         <div class="card block" style="font-size:120%;">
             <div style="text-align:center">
                 <span class="lead">No classes have received new awards today......YET!</span>
             </div>
         </div>
     {% endif %}
 </div>
 </div>
<!--/.row -->

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('build/dashboard.js') }}"></script>
{% endblock %}
