{% extends 'template.html.twig' %}

{% block title %}{{ classroom.name }}{% endblock %}

{% block body %}
  {% set number_of_donations = 0 %}
  {% set donation_amount = 0 %}
  {% for donation in classroom.donations %}
    {% set number_of_donations = number_of_donations + 1 %}
    {% if donation.donationStatus == "ACCEPTED"%}
      {% set donation_amount = donation_amount + donation.amount %}
    {% endif %}
  {% endfor %}

  <div class="row" style="">
    <div class="col-md-8">
      <h1>{{ classroom.name }}</h1>
    </div>
    <div class="col-md-4" style="text-align:right;">
      <div style="">
        <a href="{{ path('classroom_index', { 'campaignUrl': campaign.url }) }}" class="btn btn-default">
          <i class="glyphicon glyphicon-user"></i>
          Back to Classrooms List</a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr/>
  <div class="clearfix"></div>
  {% for campaign_award in campaign_awards %}
    {% if campaign_award.campaignawardtype.value == "classroom" and campaign_award.campaignawardstyle.value == "place" %}
        {% if campaign_award.place == classroom_rank %}
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-3 text-center">
                <div class="card-block">
                  <span class="lead">This class is currently rank <span class="badge badge-success">{{ classroom_rank }}</span>, which means it could get the "<i>{{campaign_award.name}}</i>" Prize!!</span>
                </div><!-- ./card-block -->
              </div><!-- ./card -->
            </div><!-- ./col -->
          </div><!-- ./row -->
        {% endif %}
    {% endif %}
  {% endfor %}
  <br>
  <div class="row">
    <div class="col-sm-5">
      <div class="card card-default">
        <div class="card-header">Classroom Info</div>
        <table class="table table-hover table-outline mb-0">
          <tbody>
            <tr>
              <th style="text-align:right;">Grade</th>
              <td>
                {{ classroom.grade.name }}
              </td>
            </tr>
            <tr>
              <th style="text-align:right;">Name</th>
              <td>
                {{ classroom.name }}
              </td>
            </tr>
            {% if is_granted('ROLE_USER') %}
              <tr>
                <th style="text-align:right;">Email</th>
                <td>
                  {{ classroom.email }}
                </td>
              </tr>
              <tr>
                <th style="text-align:right;">Students</th>
                <td>
                  {{ classroom.students|length }}
                </td>
              </tr>
            {% endif %}
            <tr>
              <th style="text-align:right;">Donations</th>
              <td>{{ number_of_donations }}</td>
            </tr>
            <tr>
              <th style="text-align:right;">Amount</th>
              <td>${{ donation_amount|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
              <th style="text-align:right;">Rank</th>
              <td style="vertical-align: middle;">
                <span class="badge badge-{% if classroom_rank == 1 %}success{% elseif classroom_rank == 2 %}warning{% elseif classroom_rank == 3 %}primary{% else %}default{% endif %}">{{ classroom_rank }}</span>
              </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="card card-default">
        <div class="card-header">Class Awards Achieved</div>
        {% if number_of_donations > 0 %}
          <table class="table table-hover table-outline mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Amount Required</th>
                <th>Acheived</th>
              </tr>
            </thead>
            <tbody>
              {% for campaign_award in campaign_awards %}
                {% if campaign_award.campaignawardtype.value == "classroom" %}
                  {% if campaign_award.campaignawardstyle.value == "level" %}
                    <tr {% if donation_amount >= campaign_award.amount %} class="success" {% endif %}>
                      <td>{{ campaign_award.name }}</td>
                      <td class="col-xs-3" style="text-align:right;">${{ campaign_award.amount|number_format(2, '.', ',') }}</td>
                      <td class="col-xs-1" style="text-align:center;">
                        {% if donation_amount >= campaign_award.amount %}
                          <i class="fa fa-check-circle" style="color:green;" aria-hidden="true"></i>
                        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
              <tbody></table>
            {% else %}
              <div class="panel-body" style="font-size:120%;">
                <div style="text-align:center">
                  <span class="lead">No donations yet!</span>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}
    {% block javascripts %}
      <script>
        $(document).ready(function() {
          var ctx = $("#myChart");

          var data = {
            badges: [
              "January",
              "February",
              "March",
              "April",
              "May",
              "June",
              "July"
            ],
            datasets: [
              {
                badge: "My First dataset",
                fill: false,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [
                  65,
                  59,
                  80,
                  81,
                  56,
                  55,
                  40
                ],
                spanGaps: false
              }
            ]
          };

          var myLineChart = new Chart(ctx, {
            type: 'line',
            data: data
          });
        });
      </script>
    {% endblock %}
