{% extends 'template.html.twig' %}

{% block body %}

{% if app.request.attributes.get('_route')=='classroom_edit'%}
{% set formType = "edit" %}
{% else %}
{% set formType = "new" %}
{% endif %}

  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">{{ formType == "new" ? "Create new Classroom" : "Edit " ~ classroom.name }}</h4>
          <form name="classroom" method="post" class="">
            <div class="form-group">
              <div class="col-sm-6">
                <label for="classroom_name" class="required">Classroom Name</label>
                <input class="form-control" type="text" id="classroom_name" name="classroom[name]" placeholder="Mrs. Smiths Class" value="{{ formType == "edit" ?  classroom.name : '' }}" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-6">
                <label for="classroom_teacherName" class="required">Teacher's Name</label>
                <input class="form-control" type="text" id="classroom_name" name="classroom[teacherName]" placeholder="Mrs. Smith" value="{{ formType == "edit" ?  classroom.teacherName : '' }}" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8">
                <label for="classroom_grade" required>Grade</label>
                <select id="classroom_gradeId" name="classroom[gradeId]" class="form-control" required>
                  <option {{ formType == 'new' ? 'selected="selected"' : '' }}>Select Grade</option>
                  {% for grade in grades %}
                    <option value="{{ grade.id }}" {% if formType == 'edit' and classroom.grade.id == grade.id %}selected{% endif %}>{{grade.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8">
                <label class="required" for="classroom_email">Contact Email</label>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-at" aria-hidden="true"></i>
                  </span>
                  <input type="email" id="user_email" name="classroom[email]" class="form-control" placeholder="smith@school.gov" value="{{ formType == "edit" ?  classroom.email : '' }}">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <button type="submit" id="submit" class="btn btn-primary">{{ formType == 'new' ? 'Create Classroom' : 'Update Classroom' }}</button>
              </div><!-- ./col -->
            </div><!-- ./row -->
          </form><!-- ./form -->
        </div>
        <!-- ./card-block -->
      </div>
      <!-- ./card -->
    </div>
    <!-- ./col -->
    </div>
    <!-- ./row -->
  {% endblock body %}

  {% block javascript %}
    <script type="text/javascript">
      $('#user_terms_of_service').click(function() {
        if ($(this).attr('checked') == false) {
          $('#submit').attr("disabled", "disabled");
        } else {
          $('#submit').removeAttr('disabled');
        }
      });
    </script>
  {% endblock %}
