{% extends 'campaign.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>FAQ</h1>
        <hr/>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">How do I win
                    <strong>BIG</strong>
                    for my childs class?</div>
                <div class="panel-body">
                    <p style="text-align:center;">
                        <span>
                            <em>Beat the competition by creating your own fundraising page!</em>
                        </span>
                    </p>
                    <p>
                        <hr/>
                        <ol class="normal">
                            <li>Create a fundraiser page for your child by going to
                                <a href="{{campaign_settings.campaign_url}}/signup">{{campaign_settings.campaign_url}}/signup</a>.</li>
                            <li>Login to your campaign
                                <a href="{{campaign_settings.campaign_url}}/login">{{campaign_settings.campaign_url}}/login</a>
                                to customize your donation page, join your classes’ team, and create blog posts.</li>
                            <li>Share your page with your family, friends, Facebook friends, and twitter followers!</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">How do I make a donation?</div>
                <div class="panel-body">
                    <p style="text-align:center;">
                        <span>
                            <em>Sometimes change is hard, we do our best to make it easy!</em>
                        </span>
                    </p>
                    <p>
                        <hr/>
                        <ol class="normal">
                            <li>To make a donation, go to
                                <a href="{{campaign_settings.campaign_url}}">{{campaign_settings.campaign_url}}</a>
                                and click “make a donation”.</li>
                            <li>Make sure to select the classroom and put in the students name to give them credit!</li>
                            <li>All donations are made securely thanks to
                                <a target="_blank" href="https://www.causevox.com/">CauseVox</a>
                            </li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
