{% extends 'campaign.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h1>User list</h1>
        </div>
        <div class="col-md-8" style="text-align:right;">
            <div style="">
                <a href="{{ path('invitation_new') }}" class="btn btn-success">
                    <i class="glyphicon glyphicon-plus"></i>
                    Invite New User</a>
            </div>
        </div>
        <br/>
    </div>

    <div class="clearfix"></div>
    <hr/>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email Address</th>
                        <th>Enabled?</th>
                        <th>Last Login</th>
                        <th class="col-md-2 col-sm-1">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.username}}</a></td>
                            <td>{{ user.email }}</td>
                            <td>{% if user.enabled == 1 %} Yes {% else %} No {% endif %}</td>
                            <td>{{ user.lastLogin|date("m/d/Y") }}</td>
                            <td style="text-align:center;vertical-align: middle;">
                                <a href="{{ path(entity|lower ~ '_show', { 'id': user.id }) }}" class="btn btn-xs btn-info">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    <span class="hidden-xs hidden-sm">
                                        View</span>
                                </a>
                                {% if is_granted('ROLE_ADMIN') %}<a href="{{ path(entity|lower ~ '_edit', { 'id': user.id }) }}" class="btn btn-xs btn-warning">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span class="hidden-xs hidden-sm">
                                        Edit</span>
                                </a>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.table').DataTable({ "pageLength": 50, "order": [[ 4, "desc" ]]});
        });
    </script>
{% endblock %}
