{% extends 'crud.html.twig' %}
{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>View Donation</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ causevoxdonation.id }}</td>
                    </tr>
                    <tr>
                        <th>Donation Page</th>
                        <td>{{ causevoxdonation.donationPage}}</td>
                    </tr>
                    <tr>
                        <th>Donated At</th>
                        <td>{{ causevoxdonation.donatedAt|date("m/d/Y") }}</td>
                    </tr>
                    <tr>
                        <th>Grade</th>
                        <td>{{ causevoxdonation.teacher.grade.name }}</td>
                    </tr>
                    <tr>
                        <th>Teacher's name</th>
                        <td>{{ causevoxdonation.student.teacher.teachername }}</td>
                    </tr>
                    <tr>
                        <th>Student's Name</th>
                        <td>{{ causevoxdonation.student.name }}</td>
                    </tr>
                    <tr>
                        <th>Donor Email</th>
                        <td>{{ causevoxdonation.donorEmail }}</td>
                    </tr>
                    <tr>
                        <th>amount</th>
                        <td style="text-align:right;">${{ causevoxdonation.amount|number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <th>type</th>
                        <td>{{ causevoxdonation.type }}</td>
                    </tr>
                </tbody>
            </table>
            {{ form_start(delete_form) }}
            <a href="{{ path(entity|lower ~ '_index') }}" class="btn btn-info">Back</a>
            <a href="{{ path(entity|lower ~ '_edit', { 'id': causevoxdonation.id }) }}" class="btn btn-primary">Edit</a>
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete {{causevoxdonation.id}}?')" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
