{% extends 'template.html.twig' %}
{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>View Campaign Award</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <dl class="dl-horizontal">
                <dt>ID</dt>
                <dd>{{ campaignaward.id }}</dd>
                <dt>Name</dt>
                <dd>{{ campaignaward.name }}</dd>
                <dt>Type</dt>
                <dd>{{ campaignaward.campaignawardtype.displayName }}</dd>
                <dt>Style</dt>
                <dd>{{ campaignaward.campaignawardstyle.displayName }}</dd>
                <dt>Place</dt>
                <dd>{{ campaignaward.place }}</dd>
                <dt>Amount</dt>
                <dd>{% if campaignaward.amount is not null %}${{ campaignaward.amount|number_format(2, '.', ',') }}{% endif %}</dd>
                <dt>Description</dt>
                <dd>{{ campaignaward.description }}</dd>
            </dl>
            {{ form_start(delete_form) }}
            <a href="{{ path(entity|lower ~ '_index') }}" class="btn btn-info">Back</a>
            <a href="{{ path(entity|lower ~ '_edit', { 'id': campaignaward.id }) }}" class="btn btn-primary">Edit</a>
            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete {{campaignaward.id}}?')" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
