{% extends 'template.html.twig' %}
{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}

    {% set number_of_donations = 0 %}
    {% set donation_amount = 0 %}

    {% if student.donations is defined %}
        {% for donation in student.donations %}
            {% set number_of_donations = number_of_donations + 1 %}
            {% set donation_amount = donation_amount + donation.amount %}
        {% endfor %}
    {% endif %}
    <div class="row" style="">
        <div class="col-sm-4">
            <h1>{{ student.name }}</h1>
        </div>
        <div class="col-sm-8" style="text-align:right;">
            <div style="">
                <a href="{{ path('student_index', {'campaignUrl':campaign.url}) }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-user"></i>
                    Back to Students List</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr/>
    <div class="clearfix"></div>
    {% for campaign_award in campaign_awards %}
        {% if campaign_award.campaignawardtype.value == "teacher" %}
            {% if campaign_award.campaignawardstyle.value == "place" %}
                {% if campaign_award.place == teacher_rank %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well" style="text-align:center;background-color: #dff0d8;">
                                <h5>This student's class is currently rank
                                    <span class="label label-success">{{ teacher_rank }}</span>, which means he/she could get the ''{{campaign_award.name}}' Prize!!</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% for campaign_award in campaign_awards %}
        {% if campaign_award.campaignawardtype.value == "student" %}
            {% if campaign_award.campaignawardstyle.value == "place" %}
                {% if campaign_award.place == student_rank %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well" style="text-align:center;background-color: #dff0d8;">
                                <h5>This student's is currently rank
                                    <span class="label label-success">{{ teacher_rank }}</span>
                                    for individual donations, which means he/she could get the ''{{campaign_award.name}}' Prize!!</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">Student Info</div>
                <table class="table table-bordered dt-responsive table-condensed">
                    <tbody>
                        <tr>
                            <th style="text-align:right;">Grade</th>
                            <td>
                                <a href="{{ path('grade_show', {'campaignUrl':campaign.url, 'id': student.teacher.grade.id }) }}">{{ student.teacher.grade.name }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right;">Teacher</th>
                            <td>
                                <a href="{{ path('teacher_show', {'campaignUrl':campaign.url,  'id': student.teacher.id }) }}">{{ student.teacher.teachername }}</a>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align:right;">Name</th>
                            <td>{{ student.name }}</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;">Donations</th>
                            <td>{{ number_of_donations }}</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;">Amount Donated</th>
                            <td>${{ donation_amount|number_format(2, '.', ',') }}</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;">Student Rank</th>
                            <td style="vertical-align: middle;">
                                <span class="label label-{% if student_rank == 1 %}success{% elseif student_rank == 2 %}warning{% elseif student_rank == 3 %}primary{% else %}default{% endif %}">{{ student_rank }}</span>
                            </tr>
                        </tbody>
                    </table>
                                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="panel-body" style="font-size:16px;">
                        <div style="text-align:center;">
                            {{ form_start(delete_form) }}
                            <a href="{{ path('student_edit', {'campaignUrl': campaign.url, 'id': student.id }) }}" class="btn btn-warning">Edit</a>
                            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete {{student.name}}?')" class="btn btn-danger">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">Class Awards Achieved</div>
                    {% if teacher.0.donation_amount > 0 %}
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Amount Required</th>
                                    <th>Acheived</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for campaign_award in campaign_awards %}
                                    {% if campaign_award.campaignawardtype.value == "teacher" %}
                                        {% if campaign_award.campaignawardstyle.value == "level" %}
                                            <tr {% if teacher.0.donation_amount >= campaign_award.amount %} class="success" {% endif %}>
                                                <td>{{ campaign_award.name }}</td>
                                                <td class="col-xs-3" style="text-align:right;">${{ campaign_award.amount|number_format(2, '.', ',') }}</td>
                                                <td class="col-xs-1" style="text-align:center;">
                                                    {% if teacher.0.donation_amount >= campaign_award.amount %}
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                <tbody></table>
                            {% else %}
                                <div class="panel-body" style="font-size:120%;">
                                    <div style="text-align:center">
                                        <span class="lead">No donations yet!</span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Donations</div>

                            {% if number_of_donations > 0 %}
                                <table class="table table-bordered dt-responsive table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for donation in student.donations %}
                                            <tr>
                                                <td>{{ donation.donatedAt|date("m/d/Y")  }}</td>
                                                <td style="text-align:right;">${{ donation.amount|number_format(2, '.', ',')  }}</td>
                                                <td style="text-align:center;">{{ donation.type}}</td>
                                            </tr>
                                        {% endfor %}
                                        <tbody></table>
                                    {% else %}
                                        <div class="panel-body" style="font-size:120%;">
                                            <div style="text-align:center">
                                                <span class="lead">No donations yet!</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                {% endblock %}

                {% block javascripts %}{% endblock %}
