{% extends 'crud.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Offline Donations</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div style="text-align:right;">
                <a href="{{ path(entity|lower ~ '_new') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add New</a>
                <a href="{{ path(entity|lower ~ '_upload') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-upload"></i>
                    Upload CSV</a>
            </div>
            <br/>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Donated At</th>
                        <th>Teacher</th>
                        <th>Student</th>
                        <th>amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for offlinedonation in offlinedonations %}
                        <tr>
                            <td>
                                <a href="{{ path(entity|lower ~ '_show', { 'id': offlinedonation.id }) }}">{{ offlinedonation.id }}</a>
                            </td>
                            <td>{{ offlinedonation.donatedAt|date("m/d/Y")  }}</td>
                            <td>{% if offlinedonation.student.teacher is defined %}{{ offlinedonation.student.teacher.teacherName }}{% endif %}</td>
                            <td>{% if offlinedonation.student is defined %}{{ offlinedonation.student.name }}{% endif %}</td>
                            <td style="text-align:right;">${{ offlinedonation.amount|number_format(2, '.', ',')  }}</td>
                            <td style="text-align:center;">
                                <a href="{{ path(entity|lower ~ '_show', { 'id': offlinedonation.id }) }}" class="btn btn-sm btn-info">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    <span class="hidden-xs hidden-sm">
                                        View</span>
                                </a>
                                <a href="{{ path(entity|lower ~ '_edit', { 'id': offlinedonation.id }) }}" class="btn btn-sm btn-warning">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span class="hidden-xs hidden-sm">
                                        Edit</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
