{% extends 'template.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Upload Form</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">{{ entity }}
                                CSV File Requirements
                                <small>(click to expand)</small>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% embed entity | lower ~ '/upload_spec.html.twig' %}{% endembed %}
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2">How to create a CSV File
                                <small>(click to expand)</small>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <a href="https://support.office.com/en-us/article/Import-or-export-text-txt-or-csv-files-5250ac4c-663c-47ce-937b-339e391393ba" class="btn btn-default" target="_blank">FROM EXCEL</a>
                            <a href="https://support.google.com/docs/answer/49114?hl=en&co=GENIE.Platform=Desktop" class="btn btn-default" target="_blank">FROM GOOGLE SHEETS</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <br>
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </br>
            <div>
                <a href="{{ path(entity|lower ~ '_index') }}" class="btn btn-info">Cancel</a>
                <input type="submit" value="Upload Form" class="btn btn-primary"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
