{% extends 'crud.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Campaign Awards</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div style="text-align:right;">
                <a href="{{ path(entity|lower ~ '_new') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add New</a>
            </div>
            <br/>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Style</th>
                        <th>Place</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for campaignaward in campaignawards %}
                        <tr>
                            <td>
                                <a href="{{ path(entity|lower ~ '_show', { 'id': campaignaward.id }) }}">{{ campaignaward.id }}</a>
                            </td>
                            <td>{{ campaignaward.name }}</td>
                            <td>{% if campaignaward.campaignawardtype is defined %}{{ campaignaward.campaignawardtype.value }}{% endif %}</td>
                            <td>{% if campaignaward.campaignawardstyle is defined %}{{ campaignaward.campaignawardstyle.value }}{% endif %}</td>
                            <td>{% if campaignaward.campaignawardstyle.value == 'place' %}{{ campaignaward.place }}{% else %}N/A{% endif %}</td>
                            <td>{% if campaignaward.campaignawardstyle.value == 'level' %}${{ campaignaward.amount|number_format(2, '.', ',') }}{% else %}N/A{% endif %}</td>
                            <td style="text-align:center;">
                                <a href="{{ path(entity|lower ~ '_show', { 'id': campaignaward.id }) }}" class="btn btn-sm btn-info">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    <span class="hidden-xs hidden-sm">
                                        View</span>
                                </a>
                                <a href="{{ path(entity|lower ~ '_edit', { 'id': campaignaward.id }) }}" class="btn btn-sm btn-warning">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span class="hidden-xs hidden-sm">
                                        Edit</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
    $('.table').DataTable();
});

</script>
{% endblock %}
