{% extends 'crud.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="row" style="border-bottom:1px;">
    <div class="col-sm-3">
        <h1>Donations</h1>
    </div>
    <div class="col-sm-9" style="text-align:right;">
      <div>
          <a href="{{ path(entity|lower ~ '_new') }}" class="btn btn-success">
              <i class="glyphicon glyphicon-plus"></i>
              Add New</a>
          <a href="{{ path(entity|lower ~ '_upload') }}?file_type=Offlinedonation" class="btn btn-danger">
              <i class="glyphicon glyphicon-upload"></i>
              Upload FUNRUN LEDGER</a>
              <a href="{{ path(entity|lower ~ '_upload') }}?file_type=Causevoxdonation" class="btn btn-danger">
                  <i class="glyphicon glyphicon-upload"></i>
                  Upload CauseVox File</a>
      </div>
    </div>
</div>
<div class="clearfix"></div>
<hr/>
<div class="clearfix"></div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Donated At</th>
                        <th>Teacher</th>
                        <th>Student</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for donation in donations %}
                        <tr>
                            <td>
                                <a href="{{ path(entity|lower ~ '_show', { 'id': donation.id }) }}">{{ donation.id }}</a>
                            </td>
                            <td>{{ donation.donatedAt|date("m/d/Y")  }}</td>
                            <td>{% if donation.teacher.id is defined %}<a href="{{ path('teacher_show', { 'id': donation.teacher.id }) }}">{{ donation.teacher.teacherName }}</a>{% endif %}</td>
                            <td>{% if donation.student.id is defined %}<a href="{{ path('student_show', { 'id': donation.student.id }) }}">{{ donation.student.name }}</a>{% endif %}</td>
                            <td>{% if donation.type is defined %}{{ donation.type }}{% endif %}</td>
                            <td style="text-align:right;">${{ donation.amount|number_format(2, '.', ',')  }}</td>
                            <td style="text-align:center;">
                                <a href="{{ path(entity|lower ~ '_show', { 'id': donation.id }) }}" class="btn btn-sm btn-info">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    <span class="hidden-xs hidden-sm">
                                        View</span>
                                </a>
                                <a href="{{ path(entity|lower ~ '_edit', { 'id': donation.id }) }}" class="btn btn-sm btn-warning">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span class="hidden-xs hidden-sm">
                                        Edit</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
  $('.table').DataTable({ "pageLength": 100});
});

</script>
{% endblock %}
