{% extends 'template.html.twig' %}

{% block title %}{{ classroom.name }}{% endblock %}

{% block body %}
  <div class="row" style="">
    <div class="col-md-8">
      <h1>{{ classroom.name }}</h1>
    </div><!-- ./col -->
    <div class="col-md-4" style="text-align:right;">
      <div style="">
        <a href="{{ path('classroom_index', { 'campaignUrl': campaign.url }) }}" class="btn btn-primary">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Classrooms List</a>
      </div>
    </div><!-- ./col -->
  </div><!-- ./row -->
  <hr/>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="card card-default">
        <div class="card-header">Classroom Info</div>
        <table class="table table-hover table-outline mb-0">
          <tbody>
            <tr>
              <th style="text-align:right;">Grade</th>
              <td>
                {{ classroom.grade.name }}
              </td>
            </tr>
            <tr>
              <th style="text-align:right;">Name</th>
              <td>
                {{ classroom.name }}
              </td>
            <tr>
              <th style="text-align:right;">Amount</th>
              <td>${{ donations.0.donation_amount|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
              <th style="text-align:right;">Rank</th>
              <td style="vertical-align: middle;">
                <span class="badge badge-{% if classroom_rank == 1 %}success{% elseif classroom_rank == 2 %}warning{% elseif classroom_rank == 3 %}primary{% else %}default{% endif %}">{{ classroom_rank }}</span>
              </tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card card-default">
        <div class="card-header">Class Awards Achieved</div>
        {% if donations.0.donation_amount > 0 %}
          <table class="table table-hover table-outline mb-0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Amount Required</th>
                <th>Acheived</th>
              </tr>
            </thead>
            <tbody>
              {% for campaign_award in campaign_awards %}
                {% if campaign_award.campaignawardtype.value == "classroom" %}
                  {% if campaign_award.campaignawardstyle.value == "level" %}
                    <tr {% if donations.0.donation_amount >= campaign_award.amount %} class="success" {% endif %}>
                      <td>{{ campaign_award.name }}</td>
                      <td class="col-xs-3" style="text-align:right;">${{ campaign_award.amount|number_format(2, '.', ',') }}</td>
                      <td class="col-xs-1" style="text-align:center;">
                        {% if donations.0.donation_amount >= campaign_award.amount %}
                          <i class="fa fa-check-circle" style="color:green;" aria-hidden="true"></i>
                        {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
              <tbody></table>
            {% else %}
              <div class="panel-body" style="font-size:120%;">
                <div style="text-align:center">
                  <span class="lead">No donations yet!</span>
                </div>
              </div>
            {% endif %}
          </div>
        </div><!-- ./col -->
      </div><!-- ./row -->

      <div class="row">
        <div class="col-sm-12">
          <div class="card card-default">
            <div class="card-body">
              <div class="row">
                  <div class="col-sm-5">
                      <h3 class="">Students</h3>
                  </div>
                  <!--/.col-->
                  <div class="col-sm-7">
                      <button type="button" class="hidden-sm-down btn btn-primary float-right"><i class="icon-cloud-download"></i>
                      </button>
                      <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                          <div class="btn-group mr-3" aria-label="First group">
                              <a href="{{ path('classroom_students_new', {'campaignUrl':campaign.url, 'classroomID': classroom.id}) }}" class="btn btn-outline-secondary">
                                  <i class="fa fa-plus"></i>
                                  Add New</a>
                          </div>
                      </div>
                  </div>
                  <!--/.col-->
              </div><!-- ./row -->
              <br>
                <table class="table table-sm table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in classroom.students %}
                            <tr>
                                <td>{{ student.name }}</td>
                                <td>
                                    <a href="{{ path('classroom_show', {'campaignUrl':campaign.url,  'classroomID': classroom.id }) }}" class="btn btn-sm btn-info disabled" aria-disabled="true">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <span class="">Edit</span>
                                    </a>
                                    <a href="{{ path('classroom_show', {'campaignUrl':campaign.url,  'classroomID': classroom.id, 'action': 'delete_student', 'studentID':student.id }) }}" class="btn btn-sm btn-danger delete_record" aria-disabled="true">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        <span class="">Delete</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div><!-- ./card -->
        </div><!-- ./col -->
    </div><!-- ./row -->
    <div class="row">
        <div class="col-sm-12">
          <div class="card card-default">
            <div class="card-body">
              <div class="row">
                  <div class="col-sm-5">
                      <h3 class="">Donations</h3>
                  </div>
                  <!--/.col-->
                  <div class="col-sm-7">
                  </div>
                  <!--/.col-->
              </div><!-- ./row -->
              <br>
              <table class="table table-sm table-hover table-outline mb-0">
                   <thead>
                       <tr>
                           <th>Date</th>
                           <th>Donor</th>
                           <th>Method</th>
                           <th>Amt</th>
                           <th>Status</th>
                           <th>Actions</th>
                       </tr>
                   </thead>
                   <tbody>
                       {% for donation in classroom.donations %}
                           <tr>
                               <td>{{ donation.donatedAt|date("m/d")  }}</td>
                               <td>{% if donation.donorEmail is defined %}{{ donation.donorEmail }}{% endif %}
                               <td class="text-center">
                                 {% if donation.paymentMethod is defined %}
                                   {% if donation.paymentMethod == 'cc' %}
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                   {% elseif donation.paymentMethod == 'paypal' %}
                                    <i class="fab fa-paypal" aria-hidden="true"></i>
                                   {% else %}
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                   {% endif %}
                                 {% endif %}
                               </td>
                               <td style="text-align:right;">${{ donation.amount|number_format(2, '.', ',')  }}</td>
                               <td class="text-center">
                                 {% if donation.donationStatus is defined %}
                                 <span class="badge badge-{{ donation.donationStatus == 'PENDING'? 'info' }}{{ donation.donationStatus == 'ACCEPTED'? 'success' }}{{ donation.donationStatus == 'AUTHORIZED'? 'primary' }}{{ donation.donationStatus == 'FAILED'? 'danger' }}">{{ donation.donationStatus }}</span>
                                 {% endif %}
                               </td>
                               <td style="text-align:center;">
                                   <a href="{{ path('donation_show', {'campaignUrl':campaign.url, 'id': donation.id }) }}" class="btn btn-sm btn-info">
                                       <i class="fa fa-eye" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> View</span>
                                   </a>
                                   {% if donation.type == "manual" %}
                                    <a href="{{ path('donation_edit', {'campaignUrl':campaign.url, 'action': 'delete_donation', 'donationID': donation.id }) }}" class="btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Delete</span></a>
                                   {% endif %}
                               </td>
                           </tr>
                       {% endfor %}
                   </tbody>
               </table><!-- ./table -->
            </div>
          </div><!-- ./card -->
        </div><!-- ./col -->
      </div><!-- ./row -->




    {% endblock %}


    {% block javascripts %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('.delete_record').click(function() {
          event.preventDefault();
          var r = confirm("Are you sure you want to delete?");
          if (r == true) {
            window.location = $(this).attr('href');
          }
        });
      });
    </script>
    {% endblock %}
