{% extends 'template.email.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <h1><a href="http://manage.funrun.lrespto.org/teacher/{{teacher.id}}">{{ teacher.teacherName }}</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Report Date: {{ report_date|date("l, F d, Y") }}</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr/>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-info">
                <table class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="col-xs-5">Award Level Earned</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for award in awards %}
                            <tr {% if award.donated_at == report_date %} class="success" {% endif %}>
                                <td>${{ award.campaignaward_amount }}
                                    -
                                    {{ award.campaignaward_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script></script>
{% endblock %}
