{% extends 'crud.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Teachers</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div style="text-align:right;">
                <a href="{{ path(entity|lower ~ '_new') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                    Add New</a>
                <a href="{{ path(entity|lower ~ '_upload') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-upload"></i>
                    Upload CSV</a>
            </div>
            <br/>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Grade</th>
                        <th>Teacher's Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>
                                <a href="{{ path(entity|lower ~ '_show', { 'id': teacher.id }) }}">{{ teacher.id }}</a>
                            </td>
                            <td>{{ teacher.grade.name }}</td>
                            <td>{{ teacher.teacherName }}</td>
                            <td style="text-align:center;">
                                <a href="{{ path(entity|lower ~ '_show', { 'id': teacher.id }) }}" class="btn btn-sm btn-info">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    <span class="hidden-xs hidden-sm">
                                        View</span>
                                </a>
                                <a href="{{ path(entity|lower ~ '_edit', { 'id': teacher.id }) }}" class="btn btn-sm btn-warning">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span class="hidden-xs hidden-sm">
                                        Edit</span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
