{% extends 'template.html.twig' %}

{% block body %}
<div class="card">
<div class="card-block">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="card-title mb-0" style="text-align:center;">{{ team.name }}</h4>
        </div>
        <!--/.col-->
    </div>
</div>
</div>
<div class="card">
<div class="card-block">

    <div class="row">
        <div class="col-sm-5">
            <div class="">Team Owner: {{ team.user.firstName }} {{ team.user.lastName }}</div>
            <div class="">Email Address: {{ team.user.email }}</div>
            <div class="">Team Type: {{ team.teamType.name }}</div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <br/>

    {% if team.teamType.value == 'student' or team.teamType.value == 'family' %}
    <div class="row">
        <div class="col-sm-5">
            <h3 class="">Children</h3>
        </div>
        <!--/.col-->
    </div>
      <table class="table table-bordered table-striped table-condensed">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Grade</th>
                  <th>Classroom</th>
                  <th class="col-md-1">Verified?</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              {% for teamStudent in teamStudents %}
                  <tr>
                      <td>{{ teamStudent.name }}</td>
                      <td>{{ teamStudent.grade.name }}</td>
                      <td>{{ teamStudent.classroom.name }}</td>
                      <td>
                         {% if teamStudent.confirmedFlag %}
                              <i style="color:green;" class="fa fa-check-circle" aria-hidden="true"></i>
                         {% else %}
                              <i style="color:red;" class="fa fa-times-circle" aria-hidden="true"></i>
                        {% endif %}
                      </td>
                      <td>
                        {% if not teamStudent.confirmedFlag %}
                             <a href="{{ path('teamStudent_verify', {'campaignUrl':campaign.url,  'teamUrl': team.url , 'teamStudentId': teamStudent.id}) }}" class="btn btn-sm btn-warning">
                                 <i class="fa fa-link" aria-hidden="true"></i>
                                 <span class="">Verify</span>
                             </a>
                       {% endif %}
                          <a href="{{ path('team_show', {'campaignUrl':campaign.url, 'teamUrl': team.url }) }}" class="btn btn-sm btn-info disabled" aria-disabled="true">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                              <span class="">Edit</span>
                          </a>
                          <a href="{{ path('team_show', {'campaignUrl':campaign.url,  'teamUrl': team.url }) }}" class="btn btn-sm btn-danger disabled" aria-disabled="true">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                              <span class="">Delete</span>
                          </a>
                      </td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    {% endif %}
  </div>
</div>

{% endblock %}
