{% extends 'template.html.twig' %}
{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ team.name }}</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if is_granted('ROLE_USER') %}{% if app.user.id == team.user.id %}<a href="{{ path('team_edit', {'campaignUrl':campaign.url, 'teamUrl': team.url }) }}">EDIT</a>{% endif %}{% endif %}
            <dl class="dl-horizontal">
                <dt>ID</dt>
                <dd>{{ team.id }}</dd>
                <dt>Name</dt>
                <dd>{{ team.name }}</dd>
            </dl>
        </div>
    </div>
    {% if team.teamType.value == 'student' or team.teamType.value == 'family' %}
    <div class="row">
      <table class="table table-bordered table-striped table-condensed">
          <thead>
              <tr>
                  <th>Name</th>
              </tr>
          </thead>
          <tbody>
              {% for teamStudent in teamStudents %}
                  <tr>
                      <td>{{ teamStudents.name }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
    {% endif %}
{% endblock %}
