{% extends 'manage.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="card">
      <div class="card-block">
            <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title mb-0">Select Campaign</h4>
                </div>

                <div class="col-md-4">
               </div>
             </div>
             <br/>
                 <table class="table table-responsive table-hover table-outline mb-0">
                     <thead class="thead-default">
                         <tr>
                             <th class="text-center"><i class="icon-people"></i>
                             </th>
                             <th>Name</th>
                             <th class="text-center">Progress</th>
                             <th>&nbsp;</th>
                         </tr>
                     </thead>
                     <tbody>
                       {% for campaign in campaigns %}
                       {% set notStarted = false %}

                       {% set difference = date(campaign.endDate|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
                       {% set daysLeft = difference.days %}

                       {% set difference = date(campaign.startDate|date('Y/m/d')).diff(date(campaign.endDate|date('Y/m/d'))) %}
                       {% set daysTotal = difference.days %}

                       {% if date('now'|date('Y/m/d')) > date(campaign.endDate|date('Y/m/d')) %}
                       {% set daysLeft = daysLeft * -1 %}
                       {% endif %}
                       {% if date('now'|date('Y/m/d')) < date(campaign.startDate|date('Y/m/d')) %}
                         {% set notStarted = true %}
                         {% set difference = date(campaign.startDate|date('Y/m/d')).diff(date('now'|date('Y/m/d'))) %}
                         {% set startDays = difference.days %}
                       {% endif %}
                       {% if notStarted %}
                          {% set percentLeft = 0 %}
                       {% elseif daysLeft > 0 %}
                          {% set percentLeft = (((daysTotal - daysLeft) / daysTotal)*100) | number_format(2, '.', ',') %}
                       {% else %}
                          {% set percentLeft = 100 %}
                       {%  endif %}
                         <tr class="clickable-row" data-href='{{ path('campaignManager_dashboard', { 'campaignUrl': campaign.url }) }}'>
                             <td class="text-center">
                                 <div class="avatar">
                                     <img src="../assets/img/shoeprints48.png" class="img-avatar" alt="admin@bootstrapmaster.com">
                                     <span class="avatar-status badge-success"></span>
                                 </div>
                             </td>
                             <td>
                                 <div>{{ campaign.name }}</div>
                                 <div class="small text-muted">
                                     {{ campaign.description }}
                                 </div>
                             </td>
                             <td>
                                 <div class="clearfix">
                                     <div class="float-left">
                                         <strong>{{ percentLeft }}%</strong>
                                     </div>
                                     <div class="float-right">
                                         <small class="text-muted">{{ campaign.startDate|date('M d, Y') }} - {{ campaign.endDate|date('M d, Y') }}</small>
                                     </div>
                                 </div>
                                 <div class="progress progress-xs">
                                     <div class="progress-bar bg-{% if percentLeft == 0 %}info{% elseif percentLeft == 100 > 0 %}success{% else %}warning{%  endif %}" role="progressbar" style="width: {{ percentLeft }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                 </div>
                             </td>
                             <td>
                                 <strong>{% if notStarted %}<span class="badge badge-info">Starts in {{startDays}} days</span>{% else %}{% if daysLeft <= 0 %}<span class="badge badge-success">Ended</span>{% else %}<span class="badge badge-warning">{{ daysLeft }} days left</span>{% endif %}{% endif %}</strong>
                             </td>
                         </tr>
                       </tr>
                       {% endfor %}
                     </tbody>
                 </table>

               </div>
             </div>


{% endblock %}
