{% extends 'template.html.twig' %}
{% use 'bootstrap_3_layout.html.twig' %}

{% block body %}
  {% set campaignUrl = null %}
  {% set campaignUrl = app.request.attributes.get('_route_params')['campaignUrl'] %}

  <p style="text-align:left;">
    Join the Campaign!
    <hr/>
    {% if error is defined %}
      <p class="well-sm bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.Password.first) }}
        {{ form_row(form.Password.second) }}
        <button type="submit">Register!</button>
    {{ form_end(form) }}

  {% endblock body %}
