{% extends 'template.email.html.twig' %}

{% block body %}
    <div class="row">
      <div class="col">
           <p>Hello <strong><a target="_blank" href="{{ main_app_url }}/{{campaign.url}}/">{{campaign.name}}</a></strong> school coordinator,</p>
           <p>A contributor created a team page (<a target="_blank" href="{{ main_app_url }}/{{campaign.url}}/team/{{team.url}}">{{team.name}}</a>) for a student named "<strong>{{teamStudent.name}}</strong>" in {{classroom.name}}'s classroom that is not currently in the system. Can you please confirm that this student is in that classroom?</p>
           <p>Common reasons why this may happen:</br>
              <ul>
                <li>A nickname or middle name was used instead of their legal first name.</li>
                <li>The student is no longer in that classroom.</li>
                <li>A student with the same name exists in the classroom and we are unable to verify the last name.</li>
              <ul>
           </p>
           <p>Please help us validate your team by responding to this email with any additional information.</p>
      </div>
    </div><!-- ./row -->
{% endblock %}
